input
{
    padding: 10px;
    align-items: end;
    text-align: right;
    width: 210px;
    border: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.mmdiv
{
    margin: auto;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.maindiv
{
    margin-top: 30px;
    display: flex;
    height: 10px;
    width: 50px;
    margin: auto;
    border-color: black;
}

.subdiv
{
    display: flex;
    justify-content: center;
}

button
{
    height: 30px;
    width: 50px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: #e66f1f44 3px 2px 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

}

.operator
{
    color: rgb(255, 81, 0);
    padding: auto;
    margin: auto;
}

.operatorsp
{
    color: white;
    background-color: #e66e1f;
}

button:hover
{

    border-radius: 10px;
    box-shadow: #e66f1f44 3px 2px 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    transition: 300ms;
}

.operatorsp:hover
{
    color: white;
    background-color: green;
    box-shadow: #4de61f44 3px 3px 3px;
}
